# visual studio configuration
/.vs/

# python cache
__pycache__/

# python documentation
/docs/build/

# python package-index
/build/
/dist/
/github.py.egg-info/

# mypy cache
/.mypy_cache

# project
/github-design/
/github-helpers/
/github-tests/
